body {
    background-color: #2c2c2c;
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

.a {
    color: white;
    
}

.a:hover {
    color: gray;
}

.a:active {
    color: darkgray;
}

