body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
    color: white;
    user-select: none;
    position: relative;
}

.main {
    display: flex;
    gap: 200px;
}

.left h3 {
text-align: center;
font-size: 30px;
margin-bottom: 30px;
}

.oil-bucket {
    width: 300px;
}

.oil-bucket:hover {
    opacity: 0.9;
    cursor: pointer;
}

.oil-bucket:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    height: 60px;
    border: 4px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 15px;
}

.mid-section h4{
margin: 0;
margin-bottom: 20px;
font-size: 20px;
}

.mid-section p {
    margin: 0;
}

.upgrade-img {
    width: 40px;
}

.bucket-container {
    position: relative;
}

.oilbucket-img {
    width: 50px;
}

.upgrade-cost {
    display: flex;
}

.next-level-info {
    position: absolute;
    right: -105px;
    background-color: rgb(90, 89, 90);
    height: 80px;
    width: 100px;
    text-align: center;
    display: none;
}

.upgrade:hover .next-level-info {
    display: block;
}

.stats{
    position: absolute;
    bottom: 0;
    width: 450px;
    padding: 30px;
    border: 2px white solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    left: 50%;
    transform: translate(-50%);
}

.texts {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;

}

.dollarsign {
    color: green;
}

.money-count {
    color: white;
    text-shadow: 2px 2px 3px rgb(90, 89, 90);
}

.fade-up {
    animation: fade-up 1s;
}

@keyframes fade-up {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    20% {
        transform: translateY(-5px); 
        opacity: 0.8;       
    }
    40% {
        transform: translateY(-10px); 
        opacity: 0.6;       
    }
    60% {
        transform: translateY(-15px); 
        opacity: 0.4;       
    }
    80% {
        transform: translateY(-20px); 
        opacity: 0.2;       
    }
    100% {
        transform: translateY(-25px);
        opacity: 0;        
    } 
}