body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
    color: white;
    user-select: none;
}

.main {
    display: flex;
    gap: 200px;
}

.left h3 {
text-align: center;
font-size: 30px;
margin-bottom: 30px;
}

.oil-bucket {
    width: 300px;
}

.oil-bucket:hover {
    opacity: 0.9;
    cursor: pointer;
}

.oil-bucket:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    height: 60px;
    border: 4px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 15px;
}

.mid-section h4{
margin: 0;
margin-bottom: 20px;
font-size: 20px;
}

.mid-section p {
    margin: 0;
}

.upgrade-img {
    width: 40px;
}

.oilbucket-img {
    width: 50px;
}

.upgrade-cost {
    display: flex;
}

.next-level-info {
    position: absolute;
    right: -105px;
    background-color: rgb(90, 89, 90);
    height: 80px;
    width: 100px;
    text-align: center;
    display: none;
}

.upgrade:hover .next-level-info {
    display: block;
}